<% a = 0 %>
<% b = 1 %>
<h3>Your Grocery List</h3>
<ul class = "item_list">
<% @items.each_slice(25) do |row| %>
  <li class="section_<%= a+1 %>">
    <% a += 1 %>
    <% row.each do |item| %>
      <div class="customer_item_list">
        <strong>Name</strong>: <%= item.name %>
      </div>
      <div class="customer_item_list">
        <strong>Category</strong>: <%= item.category %>
      </div>
      <div class="customer_item_list">
        <strong>Price</strong>: <%= number_to_currency(item.price_in_cents / 100) %>
      </div>
    <% end %>
  </li>
<% end %>
</ul>

<ul class="link_list">
  <% a.times do %>
    <li>
      <a href="display:none;" class="link_<%= b %>" number="<%= b %>">
        <%= "Page #{b}" %>
      </a>
    </li>
  <% b += 1 %>
  <% end %>
</ul>
